{% extends "sightsonbikes/layout.html" %}
{% block title %}
    About Alberto Haboba
{% endblock %}
{% block body %}
<main>
    <ul id="about">
        <h2 class="animation">Hire Me! &nbsp;&nbsp;&nbsp;:-)</h2>
        <br
        <lh>Alberto Haboba</lh>
            <li>Born in Mexico City in 1972 and grew up in Israel.</li>
            <li>Mexican and Israeli nationalities.</li>
            <li>Speaks Spanish, English and Hebrew.</li>
            <li>Currently living in Mexico City.</li>
            <li>Administrative Computer Systems Engineer Studies.</li>
            <li>Professional Certification from Harvard University in Web Development.</li>
            <li>Currently training online in Cybersecurity and AI.</li>
            <li>Professional Certification in motorcycle mechanics.</li>
            <li>Military Background.</li>            
            <li>Professional experience in the following fields:</li>
                <ul>
                    <li>CEO and owner of a restaurant and bar company.</li>
                    <li>Manager of large hotels.</li>
                </ul>                
            <li>Passionate about computers, travel, exercise and motorcycles.</li>
            <li>Currently looking for a remote job in programming.</li>            
    </ul>
    <img src="/static/sightsonbikes/pictures/CS50x.jpg" height="400px" id="cs50">
</main>
{% endblock %}