{% extends "sightsonbikes/layout.html" %}
{% block title %}
    About Alberto Haboba
{% endblock %}
{% block body %}
<main>
    <div class="waviy">
        <span style="--i:1">H</span>
        <span style="--i:2">I</span>
        <span style="--i:3">R</span>
        <span style="--i:4">E</span>
        <span style="--i:5"> </span>
        <span style="--i:6"></span>
        <span style="--i:7">M</span>
        <span style="--i:8">E</span>
        <span style="--i:9">! </span>
        <span style="--i:10">!</span>         
    </div>
    <ul id="about">
        <lh class="azul">Alberto Haboba</lh>
            <li>Born in Mexico City in 1972 and grew up in Israel.</li>
            <li>Mexican and Israeli Nationalities.</li>
            <li>Speaks Spanish, English and Hebrew.</li>
            <li>Currently living in Mexico City.</li>
            <li>Military Background.</li>
            <li>Administrative Computer Systems Engineer Studies.</li>
            <li>Professional Certification from Harvard University in Web Development.</li>
            <li>Currently Training online in Cybersecurity and AI.</li>
            <li>Professional Certification in Motorcycle Mechanics.</li>            
            <li>Professional Experience in the Following Fields:</li>
                <ul>
                    <li>CEO / Owner of a Bar & Restaurant Company.</li>
                    <li>Manager of Large Hotels.</li>
                </ul>                
            <li>Passionate about Computers, Travel, Exercise and Motorcycles.</li>
            <li>Currently looking for a Remote Job in Programming.</li>            
    </ul>
    <img src="/static/sightsonbikes/pictures/CS50x.jpg" height="290px" id="cs50x">
    <img src="/static/sightsonbikes/pictures/CS50x2.jpg" height="290px" id="cs50x2">
    <a href="https://wa.me/525525117423" target="_blank" id="whatsapp"><i class="fab fa-whatsapp"></i></a>
    <a href="https://ig.me/m/albertours.mx" target="_blank" id="instagram"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/albertours.mx" target="_blank" id="facebook"><i class="fab fa-facebook"></i></a>
    <a href="mailto:alberto.haboba@gmail.com" target="_blank" id="email1"><i class="fas fa-envelope"></i></a>
</main>
{% endblock %}