{% extends "sightsonbikes/layout.html" %}
{% block title %}
    Book Your Tour
{% endblock %}
{% block body %}
<main id="book">
    <div id="form">
        <center>
            <h2 class="azul">Fill the Form to Book your Tour</h2>
        </center> 
        <form method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <label for="name">Name :</label>
                    </td>
                    <td>
                        <input type="text" name="name" id="name" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">Email :</label>
                    </td>
                    <td>
                        <input type="email" name="email" id="email" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="phone">Phone :</label>
                    </td>
                    <td>
                        <input type="tel" name="phone" id="phone" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="tour">Tour :</label>
                    </td>
                    <td>
                        <select name="tour" id="tour" class="form-control" onchange="isprivate(this)" required>
                            <option value="Morning Tour" >Morning Tour</option>
                            <option value="Evening Tour">Evening Tour</option>
                            <option value="Private Tour">Private Tour</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="date">Date :</label>
                    </td>
                    <td>
                        <input type="date" name="date" id="date" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="pax">Total Number of Guests :</label>
                    </td>
                    <td>
                        <input type="number" name="pax" id="pax" class="form-control" max="5" min="1" onchange="price(this)" required>
                    </td>
                </tr>
            </table>
            <table id="privatetime" style="display: none;">
                <tr>
                    <td>
                        <label for="time"">Suggested Start Time :</label>
                    </td>
                    <td>
                        <input type="time" name="time" id="time" class="form-control" norequired>
                    </td>
                </tr>
            </table>
            <br>
            <center>
            <p class="azul">Your Total Price is:</p>
            <h2 id="price" class="amarillo">$ 0 USD.</h2>
            </center>
            <center>
                <input type="submit" value="Submit" class="btn btn-primary" id="button">
            </center>
        </form>
    </div>
</main>
{% endblock %}
