<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Sights on Bikes</title>
  <link rel="stylesheet" href="static/sightsonbikes/style.css">
  <script src="static/sightsonbikes/script.js"></script>
</head>

<body style="background-color: white;">

  <h3>To Start: Drag the bicycle to the meeting point</h3>

  <img src="/static/sightsonbikes/pictures/flag.png" id="flag" class="droppable">
  <img src="/static/sightsonbikes/pictures/bike.png" id="bike">
  <br>
  <center>
    <a href="home" class="button">Skip</a>
  </center>

</body>
</html>

