{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static '/sightsonbikes/style.css' %}" rel="stylesheet">
        <script src="{% static '/sightsonbikes/script.js' %}"></script>
        <!-- Scripts de Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/static/sightsonbikes/pictures/bicicleta.png">
    </head>
    <header class="top-header">
      <nav>
        <div class="logo">
          <img src="/static/sightsonbikes/pictures/mexico.png" alt="Logo" class="logo">
        </div>
        <div class="topnav container" onclick="myFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
          <!-- Navigation links (hidden by default) -->
          <div id="myLinks">
            <a href="galery">Galery</a>
            <a href="reviews">Reviews</a>
            <a href="about">About</a>
          </div>
          <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <i class="fa fa-bars"></i>
        </div>       
      </nav>
      <div class="title transition space">
        <span class="rojo">Sights </span>
        <span class="rojo">on </span>
        <span class="rojo">Bikes</span>
      </div>
      <br>
      <br>
      <div class="title transition space">
        <span class="rosa">20+</span>
        <span class="amarillo">Most</span>
        <span class="amarillo">-</span>
        <span class="amarillo">See</span>
        <span class="morado">Sights</span>
        <span class="verde">in</span>
        <span class="azul">CDMX</span>
      </div>
    </header>
    <body>
      <nav id="bikelane">
        <div id="slider" class="slider">
          <div id="whitebike1"></div>
          <div id="whitebike2"></div>
          <span class="slider-title line rojo" id="meet">Meeting Point</span>
          <span class="slider-title line amarillo" id="host">Your Host</span>
          <span class="slider-title line morado" id="route">The Route</span>
          <span class="slider-title line verde" id="include">What´s included</span>
          <span class="slider-title line azul" id="fin">Finish Line</span>
          <div class="thumb" id="bike"></div>
        </div>
      </nav>
      {% block body %}
      {% endblock %}
    </body>
    <footer>
        <p>&copy; 2023 Albertours. All rights reserved.</p>
    </footer>
</html>