{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/static/sightsonbikes/pictures/bicicleta.png">
        <link href="{% static '/sightsonbikes/style.css' %}" rel="stylesheet">
        <script src="{% static '/sightsonbikes/script.js' %}"></script>
        <!-- Scripts de Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- MDB -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
      <!-- Font Awesome -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
      <!-- MDB -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet"/>
    </head>
    <header class="top-header"
      <nav>
        <div class="logo">
          <img src="/static/sightsonbikes/pictures/mexico.png" alt="Logo" class="logo">
        </div>
        <div class="topnav container" onclick="myFunction(this)" id="hamburger">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
          <!-- Navigation links (hidden by default) -->
          <div id="myLinks">
            <a href="home">Home</a>
            <a href="gallery">Gallery</a>
            <a href="reviews">Reviews</a>
            <a href="about">About</a>
          </div>
          <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <i class="fa fa-bars"></i>
        </div>       
      </nav>
      <div class="title">
        <span class="rojo">Sights </span>
        <span class="rojo">on </span>
        <span class="rojo">Bikes</span>
      </div>
      <div class="title" id="twenty">
        <span class="rosa">20+</span>
        <span class="amarillo">Most</span>
        <span class="amarillo">-</span>
        <span class="amarillo">See</span>
        <span class="morado">Sights</span>
        <span class="verde">in</span>
        <span class="azul">CDMX</span>
      </div>
    </header>
    <body id="body">
      {% block body %}
      {% endblock %}
    </body>
    <footer>
        <p>Website completely developed by Alberto Haboba ("Your host") for more details and contact info please refer to the "About" section. (Hire me!) :-)</p>
    </footer>
</html>