{% extends "sightsonbikes/layout.html" %}
{% block title %}
    What´s Included
{% endblock %}
{% block body %}
  <nav id="bikelane">
    <div id="slider" class="slider">
      <div id="arrow"><p id="dragme">Drag me</p></div>
      <div id="whitebike1"></div>
      <div id="whitebike2"></div>
      <span class="slider-title line rojo droppable" id="meet">Meeting Point</span>
      <span class="slider-title line amarillo droppable" id="host">Your Host</span>
      <span class="slider-title line morado droppable" id="route">The Route</span>
      <span class="slider-title line verde droppable" id="include">What´s Included</span>
      <span class="slider-title line azul droppable" id="fin">Finish Line</span>
      <div id="bike2"></div>
    </div>
  </nav>
  <main id="main">
    
  </main>
{% endblock %}
